<!-- <div class="main">
    <ng-container *ngFor="let n of data" class="container">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar>
                    <img src={{n.thumbnailUrl}}>
                </div>
            </mat-card-header>
            <img mat-card-image src={{n.url}} alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    albumId: {{n.albumId}} <br> id: {{n.id}} <br> title: {{n.title}}
                </p>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div> -->

<!--
    albumId: 1
    id: 1
    thumbnailUrl: "https://via.placeholder.com/150/92c952"
    title: "accusamus beatae ad facilis cum similique qui sunt"
    url: "https://via.placeholder.com/600/92c952"
-->

<div class="main">

    <div *ngFor="let n of data" class="container">
        <img src={{n.url}} class="image">

        <div class="data">
            <img class="thumbnail" src={{n.thumbnailUrl}}>
            <p>AlbumId: {{n.albumId}}</p>
            <p>Id: {{n.id}}</p>
            <p>Title: {{n.title}}</p>
        </div>

    </div>
</div>